.container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.container::before {
  content: '';
  background-color: #0066cc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0%;
  animation-name: random;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
 }

@keyframes random {
  from { top: 0%; }
  to { top: 80%; }
}

.notes {
  width: 75%;
  height: 45%;
  font-size: 15vh;
}
