:global .container {
  background-image: url('../../assets/Trees-Landscape-Silhouette.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.containerNight {
  width: 100%;
  height: 100%;
}

.containerNight canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}

:global .container .notes {
  border: solid 2px #508ACE;
  background-color: rgba(70, 84, 236, 0.6);
  color:  white;
  width: 75%;
  height: 40%;
  font-size: 13vh;
  position: fixed;
  left: 15%;
}
:global .notes::placeholder {
  color: white;
}
